nav.navbar-fixed
  .container
    // ==========  Top navigation ==========
    .navigation.navigation-top.clearfix
      ul
        // add active class for current page
        li
          a(href='https://www.facebook.com/vulpusperu/' target="_blank" style='color:white')
            i.fa.fa-facebook.fs-20
        li
          a(href='https://instagram.com/vulpus.pe?igshid=1g30orhd3asfl' target="_blank" style='color:white')
            i.fa.fa-instagram.fs-20
        li
          a(href='https://www.linkedin.com/company/vulpusperu' target="_blank" style='color:white')
            i.fa.fa-linkedin.fs-20
        li
          a(href='https://twitter.com/vulpusperu?s=09' target="_blank" style='color:white')
            i.fa.fa-twitter.fs-20
        if user && (user.type==0 || user.type==1)
          li
            a.open-login(href='javascript:void(0);' style='color:white')
              i.icon.icon-user.fs-20
    // /navigation-top
    // ==========  Main navigation ==========
    .navigation.navigation-main
      // Setup your logo here
      a.logo(href='/')
        img.style-logo(style='height: 50px' src='/images/vulpus/Logotipo-blanco_Vulpus_2021.png' alt='')
        img.style-logo(style='height: 50px; margin-left: -5px;' src='/images/vulpus/Logotipo_nombre2_2021.png' alt='')
      // Mobile toggle menu
      a.open-menu(href='#')
        i.icon.icon-menu
      // Convertible menu (mobile/desktop)
      .floating-menu
        // Mobile toggle menu trigger
        .close-menu-wrapper
          span.close-menu
            i.icon.icon-cross
        ul
          li
            a(href='/') Bienvenido
          // Multi-content dropdown
          if user && (user.type==1)
            li
              a(href='/mis-productos-ofertados')
                | Mis muebles 
                //span.open-dropdown
                  i.fa.fa-angle-down
              //.navbar-dropdown.navbar-dropdown-single
                .navbar-box
                  // box-2 (without 'box-1', box-2 will be displayed as full width)
                  .box-2
                    .box.clearfix
                      //ul
                        li.label Shop
                        li
                          a(href='products-grid.html') Products grid
                        li
                          a(href='products-list.html') Products list
                        li
                          a(href='category.html') Products intro
                        li
                          a(href='products-topbar.html') Products topbar
                        li
                          a(href='product.html') Product overview
            li
              a(href='/mis-productos-vendidos')
                | Mis ventas
            //li
              a(href='/')
                | En oferta
            // Furniture icons in dropdown
          if user && (user.type==0)
            li
              a(href='/admin/productos-vendidos')
                | Vendidos 
            li
              a(href='/admin/productos-ofertados')
                | En oferta
            // Furniture icons in dropdown
          if !user
            li
              a(href='/login')
                | Vender mueble
      // /floating-menu
    // /navigation-main
    // ==========  Login wrapper ==========
    .login-wrapper
      //form
        .h4 Sign in
        .form-group
          input#exampleInputEmail1.form-control(type='email' placeholder='Email')
        .form-group
          input#exampleInputPassword1.form-control(type='password' placeholder='Password')
        .form-group
          a.open-popup(href='#forgotpassword') Forgot password?
          a.open-popup(href='#createaccount') Don&apos;t have an account?
      .h4 Opciones
      a.btn.btn-block.btn-main(href='/salir') Cerrar sesión
  // /container
  style(scoped='').
    .style-logo {
      margin: -5px 5px 0;
    }

    @media (max-width: 416px){
      .style-logo {
        margin: 0px 5px 0;
      }
    }
