extends ../layouts/login

block content

  // ==========  Login wrapper ==========
  // ========================  Main header ========================
  section.main-header(id='flag' data-flag = flag style='background-image:url(/images/PORTADA.webp)')
    header
      .container.text-center
        h2.h2.title Bienvenidos a WhalE 
        ol.breadcrumb.breadcrumb-inverted
          li
            a(href='/')
              span.icon.icon-home
          li
            a.active(href='#') Reiniciar Contraseña
  // ========================  Login & register ========================
  section.login-wrapper.login-wrapper-page
    .container
      header.hidden
        h3.h3.title Reiniciar Contraseña
      .row
        // === left content ===
        .col-md-6.col-md-offset-3
          // === login-wrapper ===
          .login-wrapper
            .white-block
              // signin
              .login-block.login-block-signin(id='sign-in')
                .h4
                  | Reiniciar Contraseña 
                  
                hr
                form(method="POST" )
                  .row
                    .col-md-12
                      .form-group
                        input.form-control(type='password' name='pssw1' placeholder='Ingresa tu nueva contraseña' required='')
                    .col-md-12
                      .form-group
                        input.form-control(type='password' name='pssw2' placeholder='Repite tu nueva contraseña' required='')
                    .col-xs-12.text-center
                      button.btn.btn-main(style='margin: 10px 16px 0' type="submit") Reiniciar Contraseña
